<div className="bg-gray-800 bg-opacity-40 text-white p-6 rounded-lg">
  <h3 className="text-2xl font-semibold">Project 1</h3>
  <p className="mt-4">Description of the Project goes here</p>
  <a
    href="#"
    className="mt-4 inline-block px-6 py-2 bg-yellow-400 text-gray-800 font-semibold rounded-lg"
  >
    View Project
  </a>
  <figure className="">
    <video
      src="{android1}"
      controls
      autoplay
      loop
      muted
      className="mt-2 rounded-md"
    ></video>
  </figure>
</div>
